{% extends "layout.html" %}

{% block content %}
    <h1>About The App</h1>
    <p>In this web application, the user can buy and sell the stocks. And
        also can analyze their portfolio from their buying time and current
        time period with the help of an interactive plot. And can also
        analyze the stocks which they want to buy or want to buy in the
        future. They can also watchlist the stocks for future analysis.</p>
    <h4>Fetures</h4>
    <p>1. Users authentication</p>
    <p>2. Buy/Sell the stocks</p>
    <p>3. Users can also explore the other stocks</p>
    <p>4. Update their profile</p>
{% endblock content%}